{% extends "base.html" %} {% block content %}

<h1 class="title">
    <strong>Aiden Fox Ivey</strong>
</h1>

<p>
    I'm Aiden - a developer and engineering student at the University of
    Waterloo.
</p>

<p>
    My main interests are low-level computing and compilers. My personal opinion
    is that the most interesting computing problems happen when you unwrap
    abstractions.
</p>

<p>I'm generally quite eager to talk. I will certainly return your emails.</p>

<p>
    resume: <a href="aidenfoxivey.pdf">download</a>
    <br />
    code: <a href="https://git.sr.ht/~aidenfoxivey">sourcehut</a>,
    <a rel="me" href="https://github.com/aidenfoxivey?tab=repositories"
        >github</a
    >
    <br />
    pgp key:
    <a href="aidenfoxivey.asc" title="my PGP key"
        >61605C2245761FC2200F078684B78FF77616E348</a
    >
    (expires 2027-10-21)
    <br />
    email:
    <a rel="me" href="mailto:aiden@aidenfoxivey.com">aiden@aidenfoxivey.com</a
    ><sup>*</sup>
    <a href="mailto:abfoxive@uwaterloo.ca">abfoxive@uwaterloo.ca</a>
    <br />
    * all my <tt>!(work||school)</tt> git commits are signed with this email
</p>

<p>
    verify my accounts on
    <a
        href="https://keyoxide.org/61605C2245761FC2200F078684B78FF77616E348"
        title="verification of my profiles and contacts"
        >keyoxide</a
    >
</p>

<h3>cool stuff I've done:</h3>
<ul>
    <li>
        deployed a <a href="https://meshtastic.org">meshtastic</a>
        <a href="https://meshtastic.org/docs/hardware/devices/tbeam/">node</a> -
        the mesh must grow!
    </li>
    <li>
        got <a href="https://www.qrz.com/db/VE3XOF">licensed as VE3XOF</a> to
        operate UHF and VHF radios
    </li>
    <li>
        <a href="https://tinytapeout.com/runs/tt07/901/">built an ASIC</a>
        (computer chip) for tinytapeout7 that computes the
        <a
            href="https://en.wikipedia.org/wiki/Cyclic_redundancy_check#Polynomial_representations"
            >CRC</a
        >
        of its input
    </li>
    <li>
        <a href="https://github.com/python/cpython/pull/114491"
            >contributed to cpython</a
        >, adding macos linkage
    </li>
    <li>
        created a <a href="https://ecewellness.ca">wellness website</a> to
        summarize wellness resources for my ECE classmates
    </li>
    <li>
        <a href="https://github.com/llvm/llvm-project/pull/68537"
            >fixed typos</a
        >
        and
        <a href="https://github.com/llvm/llvm-project/issues/93288"
            >implemented better error messages</a
        >
        for llvm
    </li>
    <li>
        <a href="https://github.com/aidenfoxivey/gotinymt">implemented</a> a
        <a href="https://en.wikipedia.org/wiki/Mersenne_Twister"
            >mersenne twister</a
        >
        in go
    </li>
    <li>
        built <a href="https://tzempower.org">a landing page</a> for the non
        profit i help run
    </li>
</ul>

<h3>people I think are really cool:</h3>
<ul>
    <li><a href="https://jvns.ca/">Julia Evans</a></li>
    <li><a href="https://andrewkelley.me/">Andrew Kelley</a></li>
    <li><a href="https://thecodingtrain.com/">Daniel Shiffman</a></li>
    <li><a href="https://drewdevault.com/">Drew DeVault</a></li>
    <li><a href="https://gwern.net/">Gwern Branwen</a></li>
    <li><a href="https://thenumb.at/">Max Slater</a></li>
    <li><a href="https://fasterthanli.me/">Amos Wenger</a></li>
    <li><a href="https://maia.crimew.gay">maia arson crimew</a></li>
</ul>

<footer>
    <p>
        <i class="rc-scout_logo"></i> Want to become a better programmer?
        <a href="https://www.recurse.com/">Join the Recurse Center!</a>
    </p>

    <p>
        I am utterly opposed to transphobia, homophobia, racism, classism, and
        other forms of discrimination or hate.
    </p>

    <a id="img-link" href="https://en.wikipedia.org/wiki/Sun_Microsystems">
        <img alt="Sun Microsystems Logo" src="./sun.gif" />
    </a>
    <a id="img-link" href="https://www.eff.org/">
        <img alt="EFF Logo" src="./eff.png" height="31" />
    </a>
    <a id="img-link" href="https://csclub.uwaterloo.ca/">
        <img alt="CSC Logo" src="./csc.png" height="31" />
    </a>
    <a id="img-link" href="https://ziglang.org/">
        <img alt="Zig Logo" src="./zig.png" height="31" />
    </a>
    <a id="img-link" href="https://julialang.org/">
        <img alt="Julia Logo" src="./julia.png" height="31" />
    </a>
    <a id="img-link" href="https://www.msf.org/">
        <img alt="MSF Logo" src="./msf.png" height="31" />
    </a>
    <a id="img-link" href="https://sr.ht/">
        <img alt="SRHT Logo" src="./srht.svg" height="31" />
    </a>
    <a id="img-link" href="https://git-scm.com/">
        <img alt="Git Logo" src="./git.svg" height="31" />
    </a>
    <a id="img-link" href="https://www.sublimetext.com/">
        <img alt="Sublime Text Logo" src="./subl.png" height="31" />
    </a>

    <br />
    &copy; 2024 by Aiden Fox Ivey
</footer>

{% endblock content %}
