{% extends "base.html" %} {% block content %}

<div class="intro">
    <h1 class="title">
        <strong>🦊 Aiden Fox Ivey 🦊</strong>
    </h1>
    <p class="subtext">
        Software Developer
    </p>
</div>

<div class="portrait_container">
    <video class="portrait" autoplay loop muted playsinline width="640" height="640">
        <source src="images/portrait.webm" type="video/webm">
        <source src="images/portrait.mp4" type="video/mp4">
        A video of me with a pixel effect on it.
    </video>
</div>

<div class="intro">
    <h3 class="resume"><a href="https://aidenfoxivey.tiiny.site">curriculum vitae</a> (as of 2023-12-03)</h3>

    <h4 class="key">

        GPG key: <a href="aidenfoxivey.asc" title="my PGP key">61605C2245761FC2200F078684B78FF77616E348</a> (expires
        2027-10-21)<br>

        <pre>
            <code>
                -----BEGIN PGP PUBLIC KEY BLOCK-----

                mQINBGU0hgwBEADHVZTW6EBjuwyol3LQpGX41QiNiZAy9EWTc/dO5mmjtwro931m
                udhAL/FuAlgGatQgzhiWUg9C3esKuSVlcT4azAVaon2w7Xzm1au1hxcL6qAbkH7F
                v+yJcO63zad6C38z2J2RJmliJQwnYr/EFj3AjIaKfRrSjOW3Q3J4ALb6EPcVEw2q
                haXz4aP3MovZHIdM+tdderc7De9sPqWnml8IyLXfdYzHqLRDKdEvoYWLMcvDJer2
                o3pkylhmj8TMmfpewKwKOq67FIEuascSCDUnZnkffRxZAWEzX1BYnlqCznBy3KVE
                QnM83TeHIeXGL57lGInJjmQPxHKLy8kHfjRdZgRL578KgdmVpr9e+BlCoRstSeVH
                WBvJMrJt2H+P/PeLopRsku7dumZomjVpNVxgMwMLYu+rIUjS94X127ngIbaGrd8M
                gqxaktKFiT2doTDM+b8/nHCbU3bORTyX+45G/sQylpAJjMWUTv2ditGtx7/unOIy
                8VmIaei+OtZwkqtGv8xYQ/ZdYATQOzXgBw5H1/dXenUpETwiPjuViGi0nbRYNI5O
                CDZcLCxRdo1541PL19xhTliVtka5uWAG655ILdrQPc5obHou+nKrUrW/w5Uq/eEV
                EmW0oLVqbo4Y12jRLqRk1yOgs/VpFehxlCBalFmbvXFv4opDe+fimrDNtwARAQAB
                tCNBaWRlbiBGb3ggSXZleSA8YWlkZW5AZm94LWl2ZXkuY29tPokCVAQTAQgAPhYh
                BGFgXCJFdh/CIA8HhoS3j/d2FuNIBQJlNIYMAhsDBQkHhh9rBQsJCAcCBhUKCQgL
                AgQWAgMBAh4BAheAAAoJEIS3j/d2FuNIkd0QAK82dFa1hlSCiVrf1Knulv3WKeiT
                IhoCaKslBxldx2V2ZYHla1UY1yjAXg3+dJ1E8kZ2+jOOTjkTIja59w/DU5yGYO2q
                mpey7pn53NRFpypgqvnGG6l7bZo1eZh5SoiqhI08JV2nF+QdgLLbTLClXJH9M3O+
                Lhl+qYNFG+Db/nAK9kxlUgBdyAlsi9LJVjEVVV1KzlTUuEZ4xTQ+h7uwu/WzAVE8
                fUUWukPNx4yxTkGuAetHuFs/MTFgzEIp6T/I/ooEEhbfRCitP9ZR+pCFDqSiXduK
                VVY1QvMK/vlLlQnf70Jar+PzjB4Qf+m8juxlcOAlkGbLyClx7M5VPVp7lKWqQ724
                sAUBMtpjjEyWzZGXZ7DM5bTMg1G3VkiB3UEAuvz4Mbf5/aAX+jmhjL9YULBF032j
                7CyBxGB7sx8M6xMHKsbaXv57ZyVX2P8XxbSN+EzXMngMT0w8TCTi6z5et90FqdIg
                zTnxZyEfaZ5hHE4S1WU++n3DuKMwEzUIRj7WAqeMyyiBirZ/dbdD04VgBGDIm266
                wllo/ieM3AjTWzrfUyoqkqM/UCJE7XGlLzzH1IK7bWYi62e7yzAfL4DXH9kCL4K4
                uMMehNTPKIACcKMM0d31NcnZii55ciEM//bKgqes7eBIrPQeRfNVm2ZuSFf1pkqm
                nTe8GYK4ds3RQGx2uQINBGU0hgwBEADrNkkud1srlVqjhcWcDdSChDwbEOSG0MIZ
                ew7SwLYYVFXVchJksp+iCF3q3jYs/S/PscHrEomfeV9ieFzhM9y7eVZcl0ZJzlhP
                ZHiCPmQIlOrz8jfxHY1MPcx58dfbjHNJIwMAx9BvVNjfkYXG0rcfH0DYI/48mk25
                xkiM82kvGi+y3evlwNDKPehuK+k6FL6V6qpQoKXTXsYWJIohQcDxfpAIcfR1p7h8
                6gdLB83zamLOvAkWYm3OpKyuGOeapR+Ar5qL24dERDD/SLPPpEGLCAxu8YTkaLLE
                3FjF5nqotclbgktyo/9Gi9RaHsOFC89ISrJFkK1IGfUobbWcXN/HAeZjgEr6tC3d
                Qp/d6Se0VO3f7eqNC4QlLmrR2CUyqOeVVfM+suV/LxAFFD1mI8fMz7T4qPOxMe84
                ufbHHGCc6BI3aEvytZx+5c9vrYFf00Q21GHCj7iZ4vRrVVWE00xfLdRI91jv3fSQ
                3zCw6ZMWG62ORu1pdjYc4kSBQS+0VFmbHHgQfWRgzz6K19QgGxhB94lk0X5ttvRc
                dqJtPwVUxcAG7Zg0WiO1Vk5PjnakR4rcIdbdHcemzlzdRmIygx/VnY6W1Jobee0k
                tI9myXQegBeuSD3LlTXYP24wkcQ3l+R7GA/7MLzZEQscB3DbBkybEDsbdOXZDk5D
                Up6VtzfS1wARAQABiQI8BBgBCAAmFiEEYWBcIkV2H8IgDweGhLeP93YW40gFAmU0
                hgwCGwwFCQeGH2sACgkQhLeP93YW40jn0BAAlhfpx+R8wqHVMaGh+sEDS6iQVtrs
                5oV26QPpu4PyQunQk9wwlPhoNV9xpeLAVev5FPS7lIltrzjDuJUwINH40YbE12qO
                payB7r1YnPvqKv/LvO8Aj0eu7COTEufEQtMjtFVFk/nZq/oV4mpGB8CRsx3jO8MH
                VkaWAV1JSJTdUmdXQJOrAC+PEeKEUGx3DprYovaFVISXZTTLtJX38rRhCkJQEl7Z
                gUqLIcbb5sks6F3vzAs8YHV2hT9kChQPf076TCM5eyapg/qYAu+2oe3OyVgXIep0
                +ki42nkzHqmhrWjawPn8aMNf96H48z+yB0kB4enm/pGkSfC24f7m7WbPxRcydbKz
                7UNwXvjB9C6V2Kulr2RVrGIo0bU0ZcMz2Cm1kYwpAyBJU+7g0gwQb8uGaoC4sb5n
                bGrmwxO3vMZdWD5FfSxKtLdGRll6/j5lyvhcWiKKiuGwQ2do4/FhpvESWCKRt2Ut
                Hw7APVm6YDYuVh1i7he3mmnDwPPNmAO1Z35dZmM5m5bhI8W+pUYR6NmJXs9gyQuZ
                pZJtbrmv5F1u1capjj9HlR7ae5uo9Pu79aQAQ9TbrYfKZZZW1YBd3WquMNyCt4fz
                In35khgbX/hQB8wLedgWzKppmuM0BNVgetz8sl3Mf7T0Ofj6lbawbnfhVi9JmHv6
                tt20YUDyhG2Fgs4=
                =Ds5k
                -----END PGP PUBLIC KEY BLOCK-----
            </code>
        </pre>
        <br>

        <a href="https://keyoxide.org/61605C2245761FC2200F078684B78FF77616E348"
            title="verification of my profiles and contacts">Keyoxide</a> or <a
            href="  https://keybase.io/aidenfoxivey">Keybase</a> or <a
            href="https://gravatar.com/aidenfoxivey">Gravatar</a>
    </h4>
</div>

<div>
    <p>
        I'm Aiden. I'm a developer and engineering student at the University of
        Waterloo.
    </p>
    <p>
        I like working with a bunch of different languages, but OCaml and C are
        probably my favourites at the moment.
    </p>
    <p>
        I really like figuring out how things work and building them. This is
        something I mostly do with code these days, but I've been known to work with
        hardware when code doesn't need to be written.
    </p>
</div>

<h3>My work:</h3>
<ul>
        <li><a href="https://code.aidenfoxivey.com/">fossil repositories</a></li>
    <li><a href="https://git.sr.ht/~aidenfoxivey">sourcehut repositories</a></li>
    <li><a rel="me" href="https://github.com/aidenfoxivey?tab=repositories">github repositories</a></li>
</ul>

<h3>Contact me:</h3>
<ul>
    <li><a href="https://t.me/aidenfoxivey">t.me/aidenfoxivey</a></li>
    <li><a rel="me" href="mailto:aiden@fox-ivey.com">aiden@fox-ivey.com</a> &larr; all my commits are signed with this
        email</li>
    <li><a href="mailto:abfoxive@uwaterloo.ca">abfoxive@uwaterloo.ca</a></li>
</ul>

<h3>Miscellanea:</h3>
<ul>
    <li><a rel="me" href="https://mastodon.social/@aidenfoxivey">mastodon</a></li>
    <li><a href="https://twitter.com/AidenFoxIvey">x (formerly twitter)</a></li>
    <li><a href="https://bsky.app/profile/aidenfoxivey.com">bluesky</a></li>
</ul>

<h3>People I think are really cool:</h3>
<ul>
    <li><a href="https://jvns.ca/">Julia Evans</a></li>
    <li><a href="https://andrewkelley.me/">Andrew Kelley</a></li>
    <li><a href="https://thecodingtrain.com/">Daniel Shiffman</a></li>
    <li><a href="https://drewdevault.com/">Drew DeVault</a></li>
    <li><a href="https://gwern.net/">Gwern Branwen</a></li>
    <li><a href="https://thenumb.at/">Max Slater</a></li>
</ul>

<footer>

    <p><i class="rc-scout_logo"></i> Want to become a better programmer? <a href="https://www.recurse.com/">Join the
            Recurse Center!</a></p>

    <p>I am utterly opposed to transphobia, homophobia, racism, classism, and other forms of discrimination or hate.</p>

    <a id="img-link" href="https://en.wikipedia.org/wiki/Sun_Microsystems">
        <img alt="Sun Microsystems Logo" src="./sun.gif">
    </a>
    <a id="img-link" href="https://www.eff.org/">
        <img alt="EFF Logo" src="./eff.png" height="31">
    </a>
    <a id="img-link" href="https://csclub.uwaterloo.ca/">
        <img alt="CSC Logo" src="./csc.png" height="31">
    </a>
    <a id="img-link" href="https://ziglang.org/">
        <img alt="Zig Logo" src="./zig.png" height="31">
    </a>
    <a id="img-link" href="https://julialang.org/">
        <img alt="Julia Logo" src="./julia.png" height="31">
    </a>
    <a id="img-link" href="https://www.msf.org/">
        <img alt="MSF Logo" src="./msf.png" height="31">
    </a>
    <a id="img-link" href="https://sr.ht/">
        <img alt="SRHT Logo" src="./srht.svg" height="31">
    </a>
    <a id="img-link" href="https://git-scm.com/">
        <img alt="Git Logo" src="./git.svg" height="31">
    </a>
    <a id="img-link" href="https://www.sublimetext.com/">
        <img alt="Sublime Text Logo" src="./subl.png" height="31">
    </a>

    <br>
    &copy; 2023 by Aiden Fox Ivey
</footer>

{% endblock content %}
